# content types
*.avi
*.flv
*.mov
*.mp4

# InteliJ stuff
.idea/*
*.iml

# ignore all non-plugin code; allows easier debugging and cleaner repos
src/org/openvideoads/
!src/org/openvideoads/plugin

# etc
.DS_Store
